body {
    background: url(../img/wp-whales-registro.jpg) no-repeat center center fixed;
    background-size: cover;
}

.seccion-principal {
    /* CENTRADO DE LA CAJA DE LOGUEO Y RESPONSIVE */
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.modal-content {
    background-color: #3b4642;
    opacity: .85;
    /* padding arriba-abajo=0, izq-der=20px */
    padding: 0 20px;
    box-shadow: 0px 0px 5px #848484;
}

.modal-content img {
    box-shadow: 0px 0px 5px #848484;
    border-radius: 50%;
}

#imagen-nombre-group {
    text-align: left;
}

.img-usuario {
    margin-top: -50px;
    margin-bottom: 35px;
}

.img-usuario img {
    width: 70%;
    height: 70%;
}

#correo-group input, #contrasena-group input, #contrasena-repetir-group input {
    height: 39px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group input {
    height: 39px;
    /*border: 2px solid black;*/
}

#provincia-group, #perfil-group, #imagen-group {
    min-height: 39px;
    width: 100%;
    border-radius: 5px;
}

.form-group::before {
    /* esto es posible porque en el html pongo el script y el rel de font awesome */
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
}

#notificaciones {
    margin: 0 0 20px 0;
    color: orange;
    min-height: 30px;
}

.error {
    border: 2px solid orange;
    border-radius: 5px;
}

.form-group#correo-group::before {
    /* ver documentacion de font awesome
       https://fontawesome.com/icons/user?style=solid
    */
    content: "\f0e0";
}

.form-group#contrasena-group::before {
    /* ver documentacion de font awesome
       https://fontawesome.com/icons/lock?style=solid
    */
    content: "\f023";
}

.form-group#contrasena-repetir-group::before {
    /* ver documentacion de font awesome
       https://fontawesome.com/icons/lock?style=solid
    */
    content: "\f023";
}

button {
    width: 60%;
    margin: 5px 0 25px;
}

.olvido {
    padding: 5px 0;
}

.olvido a {
    color: white;
}