creacion de variables dev
----
export MYSQL_HOST=localhost
export MYSQL_PORT=3306
export MYSQL_ROOT_USER=
export MYSQL_ROOT_PASSWORD=
export APP_URL=localhost
export APP_PORT=8000
export MAIL_USER=whales.informacion@gmail.com
export MAIL_PASS=
export SECRET=

borrado de variables dev
----
unset MYSQL_HOST
unset MYSQL_PORT
unset MYSQL_ROOT_USER
unset MYSQL_ROOT_PASSWORD
unset APP_URL
unset APP_PORT
unset MAIL_USER
unset MAIL_PASS
unset SECRET